#body {
    padding: 0;
}

main {
    width: 100%;
}

#page-landing {
    width: 28%;

    background: white;
    border-radius: 2.4rem;
    padding: 5rem 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 0px 20px 0px #6e6e6e;
}

.animate-up {
    animation-name: up;
    animation-duration: 400ms;
}