<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Erro no log in</title>

        <link rel="stylesheet" href="/css/main.css">

        <link rel="stylesheet" href="/css/animation.css">

        <link rel="stylesheet" href="/css/page-login-failed-succeeded.css">

        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap" rel="stylesheet">

    </head>

    <body id="body">

        <a class="animate-up" href="./">
            
            <img title="Fechar." src="/images/cancel.svg" alt="Cancelar">

        </a>
        
        <div id="page-login-failed-succeeded" class="animate-up">

            <main>

                <div class="login-error-succeed">

                    <h2>Erro no log in</h2>

                </div>

                <div class="cancel-check-login">

                    <img src="/images/cancel.png" alt="Falha no login">

                </div>

            </main>

        </div>

    </body>
</html>